
.titulo{
    background: #063970;
    display: flex;
    /* padding: 10px; */
    height: 64px;
    color: aliceblue;
}

#text_header{
    font-size: 24px;
    margin: 0 auto;
    padding: 10px;
}

.conversor{
    width: 960px;
    height: 360px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    
}

#infoconversion{
    display: flex;
    justify-content: center;
    align-items: center;
}

#parrafo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.group_inner {
    border: 2px solid rgb(3, 3, 103); /* Añade un borde de color negro */
    border-radius: 20px; 
    width: 370px;
    height: 67px;
    
}

.select {
    width: 80px;
    border: none;
    margin-left: 20px; 
    
    
}

.select:hover {
    border: none; /* Cambia el borde al pasar el ratón */
    background-color: white; /* Cambia el color de fondo al pasar el ratón */
}

.select:focus {
    outline: none; /* Elimina el borde que aparece al enfocar */
}

#clp {
    margin-left: 20px;
    position: static;
}

.flecha {
    animation: rotate 1s;
}

@keyframes rotate {

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate_circular {

    100% {
        transform: rotate(-360deg);
    }
}

  .boton {
    margin-left: 145px;
    margin-top: 100px;
    position: static;
  }

  #fec_actuali{
    margin-left: 100px;
    position: static;
  }


.flecha_circular {
    animation: rotate_circular 2s infinite;
}
